* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.hidden {
  display: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#card-container {
  width: 95%;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}
#card-container.dragging {
  cursor: grabbing;
}
#card-container.dragging .tarot-card {
  pointer-events: none;
}
/* #card-loading {
} */
#card-area {
  width: calc(120px * 79);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarot-card {
  width: 120px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease;
}
.tarot-card:hover {
  transform: scale(1.05);
}
